<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Linked-List">
  <test thread-count="5" parallel="classes" name="Module">
	  <packages>
            <package name="module1" />
        </packages>
	  <!--<classes>
      
        <class name="module1.Login"/>
      <class name="module1.Registration"/>
    
      <class name="module1.DataStructure"/>
      <class name="module1.Array"/>
      <class name="module1.LinkedList1"/>
    
    </classes>
   <packages>
      <package name="dstestcases"/>
      <package name="linkedList"/>
      <package name="module1"/>
    </packages>-->
  </test> <!-- Module -->
</suite> <!-- Linked-List -->