<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="dstestcases.LoggerTest"/>
      <class name="module1.Array"/>
      <class name="module1.LinkedList"/>
      <class name="module1.Registration"/>
      <class name="module1.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
