<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DsAlgoSuite"  thread-count="10">
  <test name="DsAlgoTest" >
    <classes>   			
		 <class name="pages.HomeTest"/>
		 <class name="pages.RegistrationTest"/>
		 <class name="pages.LoginTest"/>
		 <class name="pages.DataStructureTest"/>
		 <class name="pages.ArrayTest"/>
		 <class name="pages.PracticeQuestionTest"/>
		 <class name="pages.LinkedListTest"/>
		 <class name="pages.StackTest"/>
		 <class name="pages.TreeTest"/>			 
		 <class name="pages.GraphTest"/>
    </classes>     
  </test> <!-- Test -->  
</suite> <!-- Suite -->
